.product-card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    border: 3px solid rgb(44,44,44);
    width: 300px;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.product-description {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.product-price {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 12px;
}

.product-button {
    margin: 4px;
    background-color: #d0ffd1;
    color: rgb(44,44,44);
    padding: 8px 10px;
    border: 2px solid rgb(44,44,44);
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.resale{
    border: none !important;
    color: rgb(44,44,44);
    background-color: transparent !important;

}

.product-button:hover {
    background-color: #45a049;
}
