a{
    text-decoration: none;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.textdecor{
    padding: 5px;
    border-radius: 8px;
    background-color: rgb(226,226,226);
    border: 2px solid rgb(44,44,44);
}

@media screen and (max-width: 730px) {
    .box{
        
    }
  }