.description{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  margin: 0 auto;
  max-width: 800px;
}

.paras{
  margin: 5px 0;
  line-height: 1.5em;
}
.contact-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  border: 3px solid rgb(44, 44, 44);
  background-color: rgb(226, 226, 226);
  border-radius: 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  margin-top:10px ;
  padding: 8px;
  margin-bottom: 12px;
  border:none;
  border-radius: 4px;
  width: 100%;
}

button {
  padding: 10px;
  background-color: #063f7d;
  color: rgb(226, 226, 226);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media (max-width: 730px) {
  .contact-container {
    padding: 20px;
    width: 350px;
  }

  input,
  textarea {
    width: 100%;
  }
}
